<!doctype html>
<html lang="{% if form.current_locale.iso_code == 'IT' %}it{% elsif form.current_locale.iso_code == 'EN' %}en{% else %}{{ form.current_locale.iso_code }}{% endif %}">
<html>

<head>
  <title>{{ page_title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{ page_description | escape }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <link rel="icon" href="https://cdn.shopify.com/s/files/1/0838/0281/6860/files/podereguardiagrande-logo-favicon.svg?v=1722250469" type="image/svg">
  {{ content_for_header }}
  <!--swiper cdn & scripts-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <!--gsap scrips-->
  <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
  <script src="{{ 'index.js' | asset_url }}" defer="defer"></script>
  <!-- Header hook for plugins -->
  {{ 'application.css' | asset_url | stylesheet_tag }}

      <!-- Google Tag Manager -->
      <script>(function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-PRNHJWFG');</script>
<!-- End Google Tag Manager -->
</head>


<body>
  {% section 'navbar' %}
  <main role="main">
    {{ content_for_layout }}
  </main>
  {% section 'footer' %}

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var currentPath = window.location.pathname;
  
      var breakpoints = {
        320: {
          slidesPerView: 1,
          spaceBetween: 16,
        },
        768: {
          slidesPerView: 2,
          spaceBetween: 20,
        },
        1024: {
          slidesPerView: 2,
          spaceBetween: 24,
        },
        1200: {
          slidesPerView: 3,
          spaceBetween: 24,
        }
      };
  
      // Controlla se il pathname contiene 'podere'
      if (currentPath.includes('/pages/podere')) {
        breakpoints = {
          320: {
            slidesPerView: 1,
            spaceBetween: 16,
          },
          768: {
            slidesPerView: 2,
            spaceBetween: 20,
          },
          1024: {
            slidesPerView: 2,
            spaceBetween: 24,
          },
          1200: {
            slidesPerView: 2,
            spaceBetween: 24,
          }
        };
      }
  
      var swiper = new Swiper(".mySwiper", {
        slidesPerView: currentPath.includes('/pages/podere') ? 2 : 3,
        spaceBetween: 24,
        pagination: {
          el: ".swiper-pagination",
          clickable: true
        },
        breakpoints: breakpoints
      });
    });
  </script>
  
  
  
</body>

</html>