<!-- section wrapper absolute img -->
<div class="wrapper-section section-wAbsolute-image">
  <div class="wrapper-contents">
    <div class="content" id="translate-absolute">
      <div class="content">
        <div class="container-img relative">
          <img
            src="{{ section.settings.main_img | img_url: 'master'}}"
            alt="etichetta"
            class="content-img small-img">
          <img
            src="{{ section.settings.absolute_img | img_url: 'master'}}"
            alt="simboli"
            class="absolute-img"
            id="absolute-img">
        </div>
        <div class="content-text">
          <h2 class="heading-h2">{{ section.settings.heading_section }}</h2>
          <p class="paragraph">{{ section.settings.first_paragraph }}</p>
          <p class="paragraph">{{ section.settings.second_paragraph }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- section wrapper absolute img -->

{% style %}
  .section-wAbsolute-image {
    margin-bottom: {{ section.settings.section_margin }}px;
  }

  @media screen and (max-width: 768px) {
    .section-wAbsolute-image {
      margin-bottom: {{ section.settings.section_margin_tablet }}px
    }
  }

  @media screen and (max-width: 480px) {
    .section-wAbsolute-image {
      margin-bottom: {{ section.settings.section_margin_mobile }}px
    }
  }
{% endstyle %}

{% schema %}
  {
    "name": "section-parallax-image",
    "settings": [
      {
        "type": "range",
        "id": "section_margin",
        "label": "margin section",
        "unit": "px",
        "default": 0,
        "min": 0,
        "max": 100,
        "step": 1
      },
      {
        "type": "range",
        "id": "section_margin_tablet",
        "label": "margin section",
        "unit": "px",
        "default": 0,
        "min": 0,
        "max": 100,
        "step": 1
      },
      {
        "type": "range",
        "id": "section_margin_mobile",
        "label": "margin section",
        "unit": "px",
        "default": 0,
        "min": 0,
        "max": 100,
        "step": 1
      },
      {
        "type": "image_picker",
        "id": "main_img",
        "label": "Main img"
      }, {
        "type": "image_picker",
        "id": "absolute_img",
        "label": "Parallax img"
      }, {
        "type": "text",
        "id": "heading_section",
        "label": "Heading section",
        "default": "Type your heading here"
      }, {
        "type": "textarea",
        "id": "first_paragraph",
        "label": "Your first paragraph here",
        "default": "Type your first paragraph here"
      }, {
        "type": "textarea",
        "id": "second_paragraph",
        "label": "Your second paragraph here",
        "default": "Type your second paragraph here"
      }

    ]
  }
{% endschema %}