<!-- section wrapper wine rendering -->
<div class="wrapper-section wine-section-margin">
  <div class="wrapper-contents">
    <div class="content wine-content" id="wine-section">
      <div class="wrap-wine-content">
        {% for block in section.blocks %}
          {% if block.type == 'wine-section' %}
            <div class="wine-container">
              <img
                src="{{ block.settings.Item_image | img_url: 'master' }}"
                alt="wine-img"
                class="wine-img">
              <img
                src="{{ block.settings.Item_logo | img_url: 'master' }}"
                alt=""
                class="wine-logo">
              <p class="wine-heading">{{ block.settings.Item_type }}</p>
              <p>{{ block.settings.Item_name }}</p>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<!-- section wrapper wine rendering -->

{% style %}
  .wine-section-margin {
    margin-bottom: {{ section.settings.section_margin }}px;
  }

  @media screen and (max-width: 768px) {
    .wine-section-margin {
      margin-bottom: {{ section.settings.section_margin_tablet }}px
    }
  }

  @media screen and (max-width: 480px) {
    .wine-section-margin {
      margin-bottom: {{ section.settings.section_margin_mobile }}px
    }
  }
{% endstyle %}

{% schema %}
  {
    "name": "featured-items",
    "settings": [
      {

        "type": "range",
        "id": "section_margin",
        "label": "margin section",
        "default": 0,
        "unit": "px",
        "min": 0,
        "max": 100,
        "step": 1

      }, {

        "type": "range",
        "id": "section_margin_tablet",
        "label": "margin section tablet",
        "default": 0,
        "unit": "px",
        "min": 0,
        "max": 100,
        "step": 1

      }, {

        "type": "range",
        "id": "section_margin_mobile",
        "label": "margin section mobile",
        "default": 0,
        "unit": "px",
        "min": 0,
        "max": 100,
        "step": 1

      }
    ],
    "max_blocks": 6,
    "blocks": [
      {
        "type": "wine-section",
        "name": "wine-section",
        "settings": [
          {
            "type": "image_picker",
            "id": "Item_image",
            "label": "Image"
          }, {
            "type": "image_picker",
            "id": "Item_logo",
            "label": "Item logo"
          }, {
            "type": "text",
            "id": "Item_type",
            "label": "Item details"
          }, {
            "type": "text",
            "id": "Item_name",
            "label": "Item name"
          }
        ]
      }
    ]
  }
{% endschema %}