<!-- section wrapper wine rendering -->
<div class="wrapper-section wine-section-margin">
  <div class="wrapper-contents">
    <div class="content wine-content" id="wine-section">
      <div class="wrap-wine-content">
          {% for collection in collections %}
            {% for product in collection.products %}
              {% assign productImgLogo = product.images[3] | default: product.featured_image %}
              {% assign productMainImg = product.images[4] | default: product.featured_image %}
              {% assign productTitle = product.title %}
              
              <div class="wine-container">
                <img
                  src="{{ productImgLogo | img_url: 'master' }}"
                  alt="{{ productImgLogo.alt | default: productTitle }}"
                  class="wine-logo">
                <a href="{{ product.url }}">
                  <img
                    src="{{ productMainImg | img_url: 'master' }}"
                    alt="{{ productMainImg.alt | default: productTitle }}"
                    class="wine-img">
                </a>
                {% if productTitle == 'Saldenya' %}
                  <p class="wine-heading">Cannonau</p>
                {% elsif productTitle == 'Nascimento' %}
                  <p class="wine-heading">Cannonau</p>
                {% else %}
                  <p class="wine-heading">Cagnaluri</p>
                {% endif %}
                <p>Sardegna DOC</p>
              </div>
            {% endfor %}
          {% endfor %}
      </div>
    </div>
  </div>
</div>
<!-- section wrapper wine rendering -->

{% style %}
  .wine-section-margin {
    margin-bottom: {{ section.settings.section_margin }}px;
  }

  @media screen and (max-width: 768px) {
    .wine-section-margin {
      margin-bottom: {{ section.settings.section_margin_tablet }}px;
    }
  }

  @media screen and (max-width: 480px) {
    .wine-section-margin {
      margin-bottom: {{ section.settings.section_margin_mobile }}px;
    }
  }
{% endstyle %}

{% schema %}
  {
    "name": "featured-items",
    "settings": [
      {
        "type": "range",
        "id": "section_margin",
        "label": "margin section",
        "default": 0,
        "unit": "px",
        "min": 0,
        "max": 100,
        "step": 1
      },
      {
        "type": "range",
        "id": "section_margin_tablet",
        "label": "margin section tablet",
        "default": 0,
        "unit": "px",
        "min": 0,
        "max": 100,
        "step": 1
      },
      {
        "type": "range",
        "id": "section_margin_mobile",
        "label": "margin section mobile",
        "default": 0,
        "unit": "px",
        "min": 0,
        "max": 100,
        "step": 1
      }
    ]
  }
{% endschema %}
