<footer class="wrapper-section">
  <div class="wrapper-contents">
    <div class="content w-border">
      {% for block in section.blocks %}
        {% if block.type == 'column-first-info' %}
          <div class="content-block">
            <div class="block">
              <p class="footer-text">{{ block.settings.brand_name }}</p>
              <a class="footer-link" href="mailto:{{ block.settings.brand_email }}">{{ block.settings.brand_email }}</a>
            </div>
            <div class="block">
              <p class="footer-text">FOLLOW</p>
              <div class="content-social-icon">
                <a href="https://www.instagram.com/podere.guardia.grande/" class="social-link">
                  <img src="{{ block.settings.ig_img | img_url: 'master' }}" alt="Instagram" class="social-icon">
                </a>
                <a href="https://www.instagram.com/podere.guardia.grande/" class="social-link">
                  <img src="{{ block.settings.fb_img | img_url: 'master' }}" alt="Facebook" class="social-icon">
                </a>
              </div>
            </div>
          </div>
          <div class="content-block">
            <ul class="nav-footer-menu">
              {% for link in linklists.main-menu.links %}
                <li>
                  <a href="{{ link.url }}" class="nav-link">{{ link.title | upcase }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
          <div class="content-block">
            <div class="container-text-block">
              <p class="footer-text">Visite a vigneto e cantina con degustazione:</p>
              <p class="footer-text">dal giovedì al lunedì 10:00-13:00 ~ 16:00-20:00</p>
            </div>
          </div>
        {% elsif block.type == 'column-third-info' %}
          <div class="content-block">
            <div class="block">
              <p class="footer-text">©2024</p>
              <p class="footer-text">{{ block.settings.P_iva }}</p>
            </div>
            <div class="block">
              {% for link in linklists.footer.links %}
                  <li>
                    <a href="{{ link.url }}" class="footer-link-small">{{ link.title | upcase }}</a>
                  </li>
              {% endfor %}
            </div>
            <div class="block">
              <div class="content-switcher">
                {% form 'localization', id: 'localization_form_tag', class: "dropup" %}
                  <div>
                    <select id="localeSelect" name="locale_code">
                      {% for locale in shop.published_locales %}
                        <option value="{{ locale.iso_code }}" {% if locale.iso_code == form.current_locale.iso_code %} selected {% endif %}>
                          {% case locale.endonym_name %}
                            {% when "Italiano" %}
                              IT
                            {% when "English" %}
                              EN
                            {% else %}
                              {{ locale.endonym_name }}
                          {% endcase %}
                        </option>
                      {% endfor %}
                    </select>
                  </div>
                  <input type="hidden" name="locale_code" value="{{ form.current_locale.iso_code }}" id="localeCode" />
                  <input type="submit" value="Submit" style="display: none;">
                {% endform %}
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</footer>

<style>
  .footer-link-small{
    font-size: 14px;
    line-height: 1.5;
    text-decoration: none;
    color: #1a1a1a;
  }
</style>

<script>
document.addEventListener('DOMContentLoaded', function () {
    const form = document.getElementById('localization_form_tag');
    const selectElement = document.getElementById('localeSelect');
    const localeCodeInput = document.getElementById('localeCode');

    if (form && selectElement && localeCodeInput) {
        selectElement.addEventListener('change', function () {
            const selectedOption = selectElement.options[selectElement.selectedIndex];
            localeCodeInput.value = selectedOption.value;
            form.submit();
        });
    }
});
</script>


{% schema %}
{
"name": "footer",
"max_blocks": 4,
"blocks": [
{
"type": "column-first-info",
"name": "column-first-info",
"settings": [
{
"type": "text",
"id": "brand_name",
"label": "Podere guardia grande",
"default": "PODERE GUARDIA GRANDE"
}, {
"type": "text",
"id": "brand_email",
"label": "brand email",
"default": "info@podereguardiagrande.it"
},
{
"type": "image_picker",
"id": "ig_img",
"label": "social_img"
}, {
"type": "image_picker",
"id": "fb_img",
"label": "social img"
}
]
},
{
"type": "column-third-info",
"name": "column-third-info",
"settings": [
{
"type": "text",
"id": "P_iva",
"label": "Your p.iva",
"default": "P.IVA 03922530237"
}
]
}
],
"default": {
"blocks" : [
{
"type" : "column-first-info"
},
{
"type" : "column-third-info"
}
]
}
}
{% endschema %}