<footer class="wrapper-section">
  <div class="wrapper-contents">
    <div class="content w-border">
      {% for block in section.blocks %}
      {% if block.type == 'column-first-info' %}
      <div class="content-block">
        <div class="block">
          <p class="footer-text">{{ block.settings.brand_name }}</p>
          <a class="footer-link" href="mailto:{{ block.settings.brand_email }}">{{ block.settings.brand_email }}</a>
        </div>
        <div class="block">
          <p class="footer-text">{{ block.settings.address_info }}</p>
          <p class="footer-text">{{ block.settings.second_address_info }}</p>
        </div>
        <div class="block">
          <p class="footer-text">PRESS KIT</p>
          <a class="footer-link" href="https://cdn.shopify.com/s/files/1/0838/0281/6860/files/Podere_Guardia_Grande_04-2023-IT.pdf?v=1720510503" target="_blank">Download PDF</a>
        </div>
        <div class="block">
          <p class="footer-text">FOLLOW</p>
          <div class="content-social-icon">
            <a href="https://www.instagram.com/podere.guardia.grande/" class="social-link">
              <img src="{{ block.settings.ig_img | img_url: 'master' }}" alt="fb" class="social-icon">
            </a>
            <a href="https://www.instagram.com/podere.guardia.grande/" class="social-link">
              <img src="{{ block.settings.fb_img | img_url: 'master' }}" alt="ig" class="social-icon">
            </a>
          </div>
        </div>
      </div>
      <div class="content-block">
        <ul class="nav-footer-menu">
          {% for link in linklists.main-menu.links %}
          <li>
            <a href="{{ link.url }}" class="nav-link">{{ link.title | upcase }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="content-block">
        <div class="container-text-block">
          <p class="footer-text">Svolgiamo la nostra attività enoturistica nei seguenti giorni e orari:</p>
        </div>

        <div class="container-text-block">
          <p class="footer-text">Lunedì 10:00-13:00 16:00-20:00</p>
          <p class="footer-text">Giovedì 10:00-13:00 16:00-20:00</p>
          <p class="footer-text">Venerdì 10:00-13:00 16:00-20:00</p>
          <p class="footer-text">Sabato 10:00-13:00 16:00-20:00</p>
          <p class="footer-text">Domenica 10:00-13:00 16:00-20:00</p>
        </div>

      </div>
      {% elsif block.type == 'column-third-info' %}

      <div class="content-block">
        <div class="block">
          <p class="footer-text">©2024</p>
          <p class="footer-text">{{ block.settings.P_iva }}</p>
        </div>
        <div class="block">
          <div class="content-switcher">
    <form id="localization_form_tag" class="dropup">
        <select id="localeSelect" name="locale_code">
            {% for locale in shop.published_locales %}
                <option value="{{ locale.iso_code }}" {% if locale.iso_code == form.current_locale.iso_code %} selected {% endif %}>
                    {% case locale.endonym_name %}
                        {% when "Italiano" %}
                        It
                        {% when "English" %}
                        En
                        {% else %}
                        {{ locale.endonym_name }}
                    {% endcase %}
                </option>
            {% endfor %}
        </select>
    </form>
</div>

        </div>
        
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</footer>

<script>
document.addEventListener('DOMContentLoaded', function () {
    const form = document.getElementById('localization_form_tag');
    const selectElement = document.getElementById('localeSelect');
    
    if (form && selectElement) {
        form.addEventListener('submit', function (event) {
            event.preventDefault(); // Previeni l'invio normale del form

            const localeCode = selectElement.value;
            const currentUrl = window.location.href;

            // Simulazione di reindirizzamento dopo la selezione
            setTimeout(() => {
                window.location.href = `${currentUrl}?locale=${localeCode}`;
            }, 1000);
        });
    }
});

</script>


{% schema %}
{
"name": "footer",
"max_blocks": 4,
"blocks": [
{
"type": "column-first-info",
"name": "column-first-info",
"settings": [
{
"type": "text",
"id": "brand_name",
"label": "Podere guardia grande",
"default": "PODERE GUARDIA GRANDE"
}, {
"type": "text",
"id": "brand_email",
"label": "brand email",
"default": "info@podereguardiagrande.it"
},
{
"type": "text",
"id": "address_info",
"label": "info address here",
"default": "SASSARI (SS) SARDEGNA, ITALIA"
}, {
"type": "text",
"id": "second_address_info",
"label": "info address here",
"default": "St. Vicinale Baratz Monte-Pedrosu"
},
{
"type": "image_picker",
"id": "ig_img",
"label": "social_img"
}, {
"type": "image_picker",
"id": "fb_img",
"label": "social img"
}
]
},
{
"type": "column-third-info",
"name": "column-third-info",
"settings": [
{
"type": "text",
"id": "P_iva",
"label": "Your p.iva",
"default": "P.IVA 03922530237"
}
]
}
],
"default": {
"blocks" : [
{
"type" : "column-first-info"
},
{
"type" : "column-third-info"
}
]
}
}
{% endschema %}