<!-- wrapper section image & text -->
<div class="wrapper-section">
  <div class="wrapper-contents w-space">
    {% for block in section.blocks %}
      {% if block.type == 'column-text-image' %}
        <div class="content is-revert" id="translate-effect">
          <div class="content-text">
            <h2 class="heading-h2">{{ block.settings.text_content }}</h2>
            <p class="paragraph">{{ block.settings.text_area_content }}</p>
          </div>
          <div class="container-img">
            <img
              src="{{ block.settings.img_content | img_url : 'master' }}"
              alt="giardino"
              class="content-img small-img full-width"
              id="translate-img">
          </div>
        </div>
      {% elsif block.type == 'column-image-text' %}
        <div class="content" id="translate-second-effect">
          <div class="container-img">
            <img
              src="{{ block.settings.img_content | img_url : 'master' }}"
              alt="rami"
              class="content-img contain"
              id="translate-second-img">
          </div>
          <div class="content-text">
            <h2 class="heading-h2">{{ block.settings.text_content }}</h2>
            <p class="paragraph">{{ block.settings.text_first_area }}</p>
            <p class="paragraph">{{ block.settings.text-second_area }}</p>
            {% if block.settings.visibility_button == true %}
              <div class="content-primary-button">
                <div class="content-button-text">
                  <a class="button-link-text" href="pages/vini">{{ block.settings.button_text }}</a>
                </div>
                <div class="content-button-icon">
                  <div class="container-icon">
                    <img
                      src="https://cdn.shopify.com/s/files/1/0874/6015/1590/files/free-left-arrow-437-1174845.png?v=1715325754"
                      alt=""
                      class="arrow-icon rotate">
                    <img
                      src="https://cdn.shopify.com/s/files/1/0874/6015/1590/files/free-left-arrow-437-1174845.png?v=1715325754"
                      alt=""
                      class="arrow-icon rotate">
                  </div>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
<!-- wrapper section image & text -->

{% for block in section.blocks %}
  {% if block.type == 'slider' %}
    <!-- section wrap slider -->
    <div class="wrapper-section w-slider section-bottom-margin">
      <div class="swiper mySwiper" id="slider-section">
        <div class="swiper-wrapper">
          <div class="swiper-slide variant">
            <img
              src="https://cdn.shopify.com/s/files/1/0874/6015/1590/files/podere-slide-01.jpg?v=1714828146"
              alt=""
              class="slider-img">
          </div>
          <div class="swiper-slide variant">
            <img
              src="https://cdn.shopify.com/s/files/1/0874/6015/1590/files/podere-slide-02.jpg?v=1714828146"
              alt=""
              class="slider-img">
          </div>
          <div class="swiper-slide variant">
            <img
              src="https://cdn.shopify.com/s/files/1/0874/6015/1590/files/podere-slide-03.png?v=1714828147"
              alt=""
              class="slider-img">
          </div>
          <div class="swiper-slide variant">
            <img
              src="https://cdn.shopify.com/s/files/1/0874/6015/1590/files/podere-slide-04.jpg?v=1714828148"
              alt=""
              class="slider-img">
          </div>
          <div class="swiper-slide variant">
            <img
              src="https://cdn.shopify.com/s/files/1/0874/6015/1590/files/podere-slide-04.jpg?v=1714828148"
              alt=""
              class="slider-img">
          </div>
          <div class="swiper-slide variant">
            <img
              src="https://cdn.shopify.com/s/files/1/0874/6015/1590/files/home-slider-5.jpg?v=1714828148"
              alt=""
              class="slider-img">
          </div>
          <div class="swiper-slide variant">
            <img
              src="https://cdn.shopify.com/s/files/1/0874/6015/1590/files/podere-slide-07.png?v=1714828145"
              alt=""
              class="slider-img">
          </div>
          <div class="swiper-slide variant">
            <img
              src="https://cdn.shopify.com/s/files/1/0874/6015/1590/files/podere_slide_08.jpg?v=1714828146"
              alt=""
              class="slider-img">
          </div>
          <div class="swiper-slide variant">
            <img
              src="https://cdn.shopify.com/s/files/1/0874/6015/1590/files/podere-slide-09.jpg?v=1714828152"
              alt=""
              class="slider-img">
          </div>
          <div class="swiper-slide variant">
            <img
              src="https://cdn.shopify.com/s/files/1/0874/6015/1590/files/podere-slide-10.png?v=1714828147"
              alt=""
              class="slider-img">
          </div>
          <div class="swiper-slide variant">
            <img
              src="https://cdn.shopify.com/s/files/1/0874/6015/1590/files/podere-slide-11.jpg?v=1714828149"
              alt=""
              class="slider-img">
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
    <!-- section wrap slider -->
  {% endif %}
{% endfor %}

{% for block in section.blocks %}
  {% if block.type == 'section' %}
    <!-- section wrap contente text & image -->
    <div class="wrapper-section section-bottom-margin">
      <div class="wrapper-content">
        <div class="content" id="translate-effect-absolute">
          <div class="content-text relative-position">
            <h2 class="heading-h2">{{ block.settings.heading_section_bottom }}</h2>
            <p class="paragraph">{{ block.settings.first_paragraph_section_bottom }}</p>
            <p class="paragraph">{{ block.settings.second_paragraph_section_bottom }}</p>
            {% if block.settings.visibility_button == true %}
              <div class="content-primary-button">
                <div class="content-button-text">
                  <a class="button-link-text" href="vini.html">{{ block.settings.button_text }}</a>
                </div>
                <div class="content-button-icon">
                  <div class="container-icon">
                    <img
                      src="https://cdn.shopify.com/s/files/1/0874/6015/1590/files/free-left-arrow-437-1174845.png?v=1715325754"
                      alt=""
                      class="arrow-icon rotate">
                    <img
                      src="https://cdn.shopify.com/s/files/1/0874/6015/1590/files/free-left-arrow-437-1174845.png?v=1715325754"
                      alt=""
                      class="arrow-icon rotate">
                  </div>
                </div>
              </div>
            {% endif %}
            <img
              src="{{ block.settings.simbol_image |  img_url: 'master'}}"
              alt="icone"
              class="static-img"
              id="translate-effect-img-absolute">
          </div>
          <div class="container-img relative flex-top">
            <img
              src="{{ block.settings.first_image |  img_url: 'master'}}"
              alt="cespuglio"
              class="content-img small-img">
          </div>
        </div>
      </div>
    </div>
    <!-- section wrap contente text & image -->
  {% endif %}
{% endfor %}

{% style %}

  .section-bottom-margin {
    margin-bottom: {{ section.settings.section_margin }}px;
  }

  @media screen and (max-width: 768px) {
    .section-bottom-margin {
      margin-bottom: {{ section.settings.section_margin_tablet }}px
    }
  }

  @media screen and (max-width: 480px) {
    .section-bottom-margin {
      margin-bottom: {{ section.settings.section_margin_mobile }}px
    }
  }
{% endstyle %}

{% schema %}
  {
    "name": "podere-template",
    "max_blocks": 4,
    "blocks": [
      {
        "type": "column-image-text",
        "name": "from-image-to-text",

        "settings": [
          {
            "type": "text",
            "id": "text_content",
            "label": "your text content here"
          },
          {
            "type": "textarea",
            "id": "text_first_area",
            "label": "your text area content here"
          },
          {
            "type": "textarea",
            "id": "text_second_area",
            "label": "your text area content here"
          },
          {
            "type": "image_picker",
            "id": "img_content",
            "label": "Your image here"
          }, {
            "type": "text",
            "id": "button_text",
            "label": "Button text here",
            "default": "Type your button text here"
          }, {
            "type": "checkbox",
            "id": "visibility_button",
            "label": "Hide or show your button",
            "default": true
          }
        ]

      }, {
        "type": "column-text-image",
        "name": "from-text-to-image",
        "settings": [
          {
            "type": "text",
            "id": "text_content",
            "label": "your text content here"
          }, {
            "type": "textarea",
            "id": "text_area_content",
            "label": "your text area content here"
          }, {
            "type": "image_picker",
            "id": "img_content",
            "label": "Your image here"
          }
        ]
      }, {
        "type": "slider",
        "name": "slider-section"
      }, {
        "type": "section",
        "name": "section-scroll-img",
        "settings": [
          {
            "type": "text",
            "id": "heading_section_bottom",
            "label": "Your heading here",
            "default": "Type your heading here"
          },
          {
            "type": "textarea",
            "id": "first_paragraph_section_bottom",
            "label": "your text area content here",
            "default": "Type your text here"
          },
          {
            "type": "textarea",
            "id": "second_paragraph_section_bottom",
            "label": "your text area content here",
            "default": "Type your text here"
          },
          {
            "type": "text",
            "id": "button_text",
            "label": "button text",
            "default": "Type your button text"
          }, {
            "type": "checkbox",
            "id": "visibility_button",
            "label": "hide or show your button",
            "default": true
          }, {
            "type": "image_picker",
            "id": "first_image",
            "label": "Set your image"
          }, {
            "type": "image_picker",
            "id": "simbol_image",
            "label": "Set your image"
          }
        ]
      }
    ],
    "settings": [
      {

        "type": "range",
        "id": "section_margin",
        "label": "margin bottom section",
        "default": 0,
        "unit": "px",
        "min": 0,
        "max": 100,
        "step": 1

      }, {

        "type": "range",
        "id": "section_margin_tablet",
        "label": "margin bottom section tablet",
        "default": 0,
        "unit": "px",
        "min": 0,
        "max": 100,
        "step": 1

      }, {

        "type": "range",
        "id": "section_margin_mobile",
        "label": "margin bottom section mobile",
        "default": 0,
        "unit": "px",
        "min": 0,
        "max": 100,
        "step": 1

      }
    ]


  }
{% endschema %}