{% assign productImgLogo = product.images[4] | default: product.featured_image %}
{% assign productMainImg = product.images[2] | default: product.featured_image %}
{% assign productCustomImage = product.images[3] | default: product.featured_image %}
{% assign productTitle = product.title %}

{% for collection in collections %}
  {% for product in collection.products %}
    {% assign zona_di_produzione = product.metafields.custom.zona_di_produzione %}
    {% assign suolo = product.metafields.custom.suolo %}
    {% assign altitudine_del_vigneto = product.metafields.custom.altitudine_del_vigneto_ %}
    {% assign forma_di_allevamento = product.metafields.custom.forma_di_allevamento %}
    {% assign densita_di_impianto = product.metafields.custom.forma_di_allevamento %}
    {% assign resa_per_ettaro = product.metafields.custom.resa_per_ettaro %}
    {% assign alcool_svolto = product.metafields.custom.alcool_svolto %}
  {% endfor %}
{% endfor %}


<!-- section rendering item -->
<div class="wrapper-section">
  <div class="wrapper-content">
    <div class="content" id="translate-effect">
      <div class="content-text w-flex-start">
        <img
          src="{{ productImgLogo |  img_url: 'master' }}"
          alt="{{ productImgLogo.alt | default: product.title }}"
          class="wine-logo">
        <div class="block-content-text">
          {% if productTitle == 'Saldenya' %}
            <p class="paragraph-wine">{{ section.settings.product-one-origin }}</p>
            <p class="paragraph-wine">{{ section.settings.product-one-name-origin }}</p>
            <p class="paragraph-wine bold">{{ section.settings.product-three-composition }}</p>
            <p class="paragraph-wine">{{ section.settings.product-one-overview }}</p>
            <div class="content-primary-button">
              <div class="content-button-text">
                <a class="button-link-text" href="{{ section.settings.product-one-sheet }}">Scarica la scheda tecnica</a>
              </div>
              <div class="content-button-icon">
                <div class="container-icon"><img
                    src="./icons/free-left-arrow-437-1174845.png"
                    alt=""
                    class="arrow-icon rotate"><img
                    src="./icons/free-left-arrow-437-1174845.png"
                    alt=""
                    class="arrow-icon rotate"></div>
              </div>
            </div>
          {% elsif productTitle == 'Nascimento' %}
            <p class="paragraph-wine">{{ section.settings.product-two-origin }}</p>
            <p class="paragraph-wine">{{ section.settings.product-two-name-origin }}</p>
            <p class="paragraph-wine bold">{{ section.settings.product-two-composition }}</p>
            <p class="paragraph-wine">{{ section.settings.product-two-overview }}</p>
            <div class="content-primary-button">
              <div class="content-button-text">
                <a class="button-link-text" href="{{ section.settings.product-two-sheet }}">Scarica la scheda tecnica</a>
              </div>
              <div class="content-button-icon">
                <div class="container-icon"><img
                    src="./icons/free-left-arrow-437-1174845.png"
                    alt=""
                    class="arrow-icon rotate"><img
                    src="./icons/free-left-arrow-437-1174845.png"
                    alt=""
                    class="arrow-icon rotate"></div>
              </div>
            </div>
          {% elsif productTitle == "L'Alghè" %}
            <p class="paragraph-wine">{{ section.settings.product-three-origin }}</p>
            <p class="paragraph-wine">{{ section.settings.product-three-name-origin }}</p>
            <p class="paragraph-wine bold">{{ section.settings.product-three-composition }}</p>
            <p class="paragraph-wine">{{ section.settings.product-three-overview }}</p>
            <div class="content-primary-button">
              <div class="content-button-text">
                <a class="button-link-text" href="{{ section.settings.product-three-sheet }}">Scarica la scheda tecnica</a>
              </div>
              <div class="content-button-icon">
                <div class="container-icon"><img
                    src="https://cdn.shopify.com/s/files/1/0874/6015/1590/files/free-left-arrow-437-1174845.png?v=1715325754"
                    alt=""
                    class="arrow-icon rotate"><img
                    src="https://cdn.shopify.com/s/files/1/0874/6015/1590/files/free-left-arrow-437-1174845.png?v=1715325754"
                    alt=""
                    class="arrow-icon rotate"></div>
              </div>
            </div>
          {% endif %}
        </div>
        <div class="block-content-text w-margin-top">
          <div class="content-block-text">
            <h2 class="heading-h2-secondary">Zona di produzione</h2>
            <p class="paragraph-wine">{{ zona_di_produzione }}</p>
          </div>
          <div class="content-block-text">
            <h2 class="heading-h2-secondary">Suolo</h2>
            <p class="paragraph-wine">{{ suolo }}</p>
          </div>
          <div class="content-block-text">
            <h2 class="heading-h2-secondary">Altitudine del vigneto</h2>
            <p class="paragraph-wine">{{ altitudine_del_vigneto }}</p>
          </div>
          <div class="content-block-text">
            <h2 class="heading-h2-secondary">Forma di allevamento</h2>
            <p class="paragraph-wine">{{ forma_di_allevamento }}</p>
          </div>
          <div class="content-block-text">
            <h2 class="heading-h2-secondary">Densità di impianto</h2>
            <p class="paragraph-wine">{{ densita_di_impianto }}</p>
          </div>
          <div class="content-block-text">
            <h2 class="heading-h2-secondary">Resa per ettaro</h2>
            <p class="paragraph-wine">
              {{ resa_per_ettaro }}</p>
          </div>
          <div class="content-block-text">
            <h2 class="heading-h2-secondary">Alcool svolto</h2>
            <p class="paragraph-wine">{{ alcool_svolto }}</p>
          </div>
        </div>
      </div>
      <div class="container-img-wine" id="translate-effect-section">
        <img
          src="{{ productMainImg |  img_url: 'master' }}"
          alt="{{ productMainImg.alt | default: product.title }}"
          class="content-img-wine">
        <div class="container-wine-overview">
          <h2 class="heading-h2-secondary">Scopri i vini del podere</h2>
          <p class="paragraph-wine">Produciamo vini non in regime convenzionale, amiamo sperimentare con i vitigni autoctoni, crediamo nell’unicità del territorio.</p>
          <div class="content-link-block">
            {% for collection in collections %}
              {% for product in collection.products %}
                {% if product.title != productTitle %}
                  <a href="{{ product.url }}" class="link-to-wine">{{ product.title }}</a>
                {% endif %}
              {% endfor %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- section rendering item -->

<!-- section wrap -->
<div class="wrapper-section">
  <div class="wrapper-contents">
    <div class="content is-wine-revert">
      <div class="content-text">
        {% if productTitle == 'Saldenya' %}
          <h2 class="heading-h2-secondary">{{ section.settings.product-saldenya-heading-description }}</h2>
          <p class="paragraph-wine">{{ section.settings.product-saldenya-description}}</p>
        {% elsif productTitle == 'Nascimento' %}
          <h2 class="heading-h2-secondary">{{ section.settings.product-nascimento-heading-description }}</h2>
          <p class="paragraph-wine">{{ section.settings.product-nascimento-description }}</p>
        {% else %}
          <h2 class="heading-h2-secondary">{{ section.settings.product-alghe-heading-description }}</h2>
          <p class="paragraph-wine">{{ section.settings.product-alghe-description }}</p>
        {% endif %}
      </div>
      <div class="container-img relative">
        <img
          src="{{ productCustomImage |  img_url: 'master' }}"
          alt="{{ productCustomImage.alt | default: product.title }}"
          class="content-img">
      </div>
    </div>
  </div>
</div>
<!-- section wrap -->


{% schema %}
  {
    "name": "product-details",
    "settings": [
      {
        "type": "text",
        "id": "product-one-origin",
        "label": "product-saldenya-origin",
        "default": "Vermentino Di Sardegna"
      },
      {
        "type": "text",
        "id": "product-two-origin",
        "label": "product-nascimento-origin",
        "default": "Cannonau di Sardegna"
      },
      {
        "type": "text",
        "id": "product-three-origin",
        "label": "product-alghe-origin",
        "default": "Alghero Cagnulari"
      },
      {
        "type": "text",
        "id": "product-one-composition",
        "label": "product-saldenya-composition",
        "default": "100% Vermentino"
      }, {
        "type": "text",
        "id": "product-two-composition",
        "label": "product-nascimento-composition",
        "default": "100% Cagnulari"
      }, {
        "type": "text",
        "id": "product-three-composition",
        "label": "product-alghe-composition",
        "default": "100% Cagnaluri"
      }, {
        "type": "text",
        "id": "product-one-name-origin",
        "label": "product-saledenya-denominazione",
        "default": "Denominazione di Origine Controllata"
      }, {
        "type": "text",
        "id": "product-two-name-origin",
        "label": "product-nascimento-denominazione",
        "default": "Denominazione di Origine Controllata"
      }, {
        "type": "text",
        "id": "product-three-name-origin",
        "label": "product-alghe-denominazione",
        "default": "Denominazione di Origine Controllata"
      }, {
        "type": "textarea",
        "id": "product-one-overview",
        "label": "product-saldenya-overview",
        "default": "Il colore è paglierino, dai riflessi verdolini. Al naso profumi tropicali di ananas e litchi, pompelmo, camomilla, in una ventata di mineralità espressa su percezioni idrocarburiche e saline. Il sorso si mostra elegante, decisamente fresco e agile, con esibizione di morbidezza alcol-glicerica e finale persistente."
      }, {
        "type": "textarea",
        "id": "product-two-overview",
        "label": "product-nascimento-overview",
        "default": "Il colore è rosso rubino vivace. Al naso fruttato, con sentori di more di rovo, mirtilli e ribes nero, su un sottofondo floreale di rose, viole e bacche di ginepro. Il sorso è caldo e avvolgente, ma con buona freschezza a restituire equilibrio."
      }, {
        "type": "textarea",
        "id": "product-three-overview",
        "label": "product-alghe-overview",
        "default": "Il colore è rosso rubino. Al naso nitide percezioni di piccoli frutti rossi, ciliegia sotto spirito, macis, cannella ed eucalipto. Il sorso è voluminoso ma terso ed agile. In successione si rivela sapido, chiudendo su un finale di bacche rosse ammantate di spezie."
      }, {
        "type": "url",
        "id": "product-one-sheet",
        "label": "product-saldenya-sheet"
      }, {
        "type": "url",
        "id": "product-two-sheet",
        "label": "product-nascimento-sheet"
      }, {
        "type": "url",
        "id": "product-three-sheet",
        "label": "product-alghe-sheet"
      }, {
        "type": "text",
        "id": "product-saldenya-heading-description",
        "label": "product-one-heading-description",
        "default": "Il Vermentino fresco e dalla beva facile"
      }, {
        "type": "text",
        "id": "product-nascimento-heading-description",
        "label": "product-two-heading-description",
         "default": "Il Cannonau per ogni momento"
      }, {
        "type": "text",
        "id": "product-alghe-heading-description",
        "label": "product-three-heading-description",
         "default": "Il Cagnulari, piccola perla enologica"
      }, {
        "type": "textarea",
        "id": "product-saldenya-description",
        "label": "product-one-description",
        "default": "Saldenya in algherese significa Sardegna, eppure il suono ricorda la spuma del mare che, sospinta dal Maestrale, si deposita sugli acini d’uva, regalando loro una inconfondibile sapidità. Tutti i giorni, a mezzogiorno, si alza la brezza ricca di salsedine: il vino prodotto nel Podere Guardia Grande porta con sé i profumi del mare. Il mare che separa la Sardegna dalla terra ferma dà la misura di un’identità mantenutasi integra per secoli. L’isola è un “continente” in miniatura, da cui si rimane affascinati, di cui ci si innamora e a cui si sente di dover portare rispetto."
      }, {
        "type": "textarea",
        "id": "product-nascimento-description",
        "label": "product-two-description",
        "default": "La vigna è un luogo in cui si sperimenta la poesia e il mistero dell’esistenza. Semplici cose accadono sotto i nostri occhi ma gli eventi quotidiani, pur nella loro ovvietà, nascondono qualcosa di vivifico. Come scriveva Sebastiano Satta, anche il processo di vinificazione diventa un «misterioso nascimento» e quando il mosto fermenta «nella notte […], i ragazzi più piccoli scendono mezzi svestiti, entrano nel buio della cantina e rimangono per ore ad ascoltare quel canto, che li accompagnerà forse per tutta la vita». Alla ciclicità della vite viene spontaneo associare la Dea Madre. Ad Alghero, le Domus de Janas (Case delle fate) testimoniano l’adorazione tipicamente sarda di divinità legate alla terra e alla fertilità. Nelle piccole dimore, abitavano creature leggendarie di minuscola statura che, instancabili, tessevano splendide stoffe sui loro preziosi telai d’oro – intonando dolci melodie."
      }, {
        "type": "textarea",
        "id": "product-alghe-description",
        "label": "product-three-description",
        "default": "Alghè è uno dei nomi con cui viene identificata la città di Alghero, luogo da raggiungere e da cui partire alla scoperta del mondo visto sugli atlanti – affascinati dai tratti, dai colori, dai nomi esotici di città e paesi lontani. Storie, lingue e viaggio si mescolano, in un infinito scambio tra racconto e ascolto. Tra le acque cristalline che accarezzano le coste di Alghero, si nasconde un tesoro."
      }

    ]
  }
{% endschema %}