<!-- section wrapper center text -->
<div class="wrapper-section quote-section-margin">
  <div class="wrapper-contents">
    <div class="content">
      <div class="container-center-text">
        <h2 class="heading-h2">{{ section.settings.Quote_text }}</h2>
        {% if section.settings.Visibility_button == true %}
          <div class="content-primary-button">
            <a class="button-link-text" href="pages/vini">
              <div class="content-button-text">
                {{ block.settings.Button_text }}
              </div>
              <div class="content-button-icon">
                <img
                  src="https://cdn.shopify.com/s/files/1/0874/6015/1590/files/arrow-right.png?v=1720508256"
                  alt=""
                  class="arrow-icon rotate">
                <img
                  src="https://cdn.shopify.com/s/files/1/0874/6015/1590/files/arrow-right.png?v=1720508256"
                  alt=""
                  class="arrow-icon rotate">
              </div>
            </a>
          </div> 
        {% endif %}
      </div>
    </div>
  </div>
</div>
<!-- section wrapper center text -->

{% style %}
  .quote-section-margin {
    margin-bottom: {{ section.settings.section_margin }}px;
  }

  @media screen and (max-width: 768px) {
    .quote-section-margin {
      margin-bottom: {{ section.settings.section_margin_tablet }}px
    }
  }

  @media screen and (max-width: 480px) {
    .quote-section-margin {
      margin-bottom: {{ section.settings.section_margin_mobile }}px
    }
  }
{% endstyle %}

{% schema %}
  {
    "name": "quote-highlights",
    "settings": [
      {

        "type": "range",
        "id": "section_margin",
        "label": "margin section",
        "default": 0,
        "unit": "px",
        "min": 0,
        "max": 100,
        "step": 1

      },
      {

        "type": "range",
        "id": "section_margin_tablet",
        "label": "margin section tablet",
        "default": 0,
        "unit": "px",
        "min": 0,
        "max": 100,
        "step": 1

      },
      {

        "type": "range",
        "id": "section_margin_mobile",
        "label": "margin section mobile",
        "default": 0,
        "unit": "px",
        "min": 0,
        "max": 100,
        "step": 1

      },
      {
        "type": "text",
        "id": "Quote_text",
        "label": "Quote",
        "default": "A Guardia Grande coltiviamo uve Vermentino, Cannonau e Cagnulari, un vitigno autoctono tipico proprio di questa zona"
      }, {
        "type": "text",
        "id": "Button_text",
        "label": "Button text",
        "default": "Scopri i vini del podere"
      }, {
        "type": "checkbox",
        "id": "Visibility_button",
        "label": "Hide/show button",
        "default": true
      }
    ]
  }
{% endschema %}