<!-- section wrapper absolute img -->
<div class="wrapper-section section-wAbsolute-image">
  <div class="wrapper-contents">
    <div class="content" id="translate-absolute">
      <div class="content">
        <div class="container-img relative">
          <img
            src="{{ section.settings.Main_img | img_url: 'master'}}"
            alt="etichetta"
            class="content-img small-img">
          <img
            src="{{ section.settings.Absolute_img | img_url: 'master'}}"
            alt="simboli"
            class="absolute-img"
            id="absolute-img">
        </div>
        <div class="content-text">
          <h2 class="heading-h2">{{ section.settings.Heading_section }}</h2>
          <p class="paragraph">{{ section.settings.First_paragraph }}</p>
          <p class="paragraph">{{ section.settings.Second_paragraph }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- section wrapper absolute img -->

{% style %}
  .section-wAbsolute-image {
    margin-bottom: {{ section.settings.section_margin }}px;
  }

  @media screen and (max-width: 768px) {
    .section-wAbsolute-image {
      margin-bottom: {{ section.settings.section_margin_tablet }}px
    }
  }

  @media screen and (max-width: 480px) {
    .section-wAbsolute-image {
      margin-bottom: {{ section.settings.section_margin_mobile }}px
    }
  }
{% endstyle %}

{% schema %}
  {
    "name": "scrolling-feature-columns",
    "settings": [
      {
        "type": "range",
        "id": "section_margin",
        "label": "margin section",
        "unit": "px",
        "default": 0,
        "min": 0,
        "max": 100,
        "step": 1
      },
      {
        "type": "range",
        "id": "section_margin_tablet",
        "label": "margin section",
        "unit": "px",
        "default": 0,
        "min": 0,
        "max": 100,
        "step": 1
      },
      {
        "type": "range",
        "id": "section_margin_mobile",
        "label": "margin section",
        "unit": "px",
        "default": 0,
        "min": 0,
        "max": 100,
        "step": 1
      },
      {
        "type": "image_picker",
        "id": "Main_img",
        "label": "Main img"
      }, {
        "type": "image_picker",
        "id": "Absolute_img",
        "label": "Scroll img"
      }, {
        "type": "text",
        "id": "Heading_section",
        "label": "Heading section",
        "default": "La terra è madre"
      }, {
        "type": "textarea",
        "id": "First_paragraph",
        "label": "Paragraph",
        "default": "La bontà del vino si lega saldamente alle qualità intrinseche del promontorio di Guardia Grande, alla natura del luogo, alla sua terra, alle sue pietre, alla particolarità climatica. Fertile e creativa, la terra racchiude in sé le caratteristiche del grembo materno che accoglie la vita e la nutre, con costanza, pazienza e forza. La terra è dotata di potenza magica, la stessa energia che serve nella produzione del vino."
      }, {
        "type": "textarea",
        "id": "Second_paragraph",
        "label": "Paragraph",
        "default": "Al valore generativo della terra, alla fertilità e alla ciclicità si legano i ritrovamenti delle statuette di Dea Madre nelle Domus de Janas, archetipi che vanno oltre il tempo e lo spazio."
      }

    ]
  }
{% endschema %}