{% for block in section.blocks %}
  {% if block.type == 'column-text-image' %}
    <div class="wrapper-section">
      <div class="wrapper-contents">
        <div class="content">
          <div class="content-text">
            <h2 class="heading-h2">{{ block.settings.Heading_section }}</h2>
            <p class="paragraph">{{ block.settings.Paragraph_section_first }}</p>
            <p class="paragraph">{{ block.settings.Paragraph_section_second }}</p>
            {% if block.settings.Visibility_button == true %}
              <div class="content-primary-button">
                <div class="content-button-text">
                  <a class="button-link-text" href="/">{{ block.settings.Button_text }}</a>
                </div>
                <div class="content-button-icon">
                  <div class="container-icon">
                    <img
                      src="https://cdn.shopify.com/s/files/1/0874/6015/1590/files/free-left-arrow-437-1174845.png?v=1715325754"
                      alt=""
                      class="arrow-icon rotate">
                    <img
                      src="https://cdn.shopify.com/s/files/1/0874/6015/1590/files/free-left-arrow-437-1174845.png?v=1715325754"
                      alt=""
                      class="arrow-icon rotate">
                  </div>
                </div>
              </div>
            {% endif %}
          </div>
            <div class="container-img">
              <div class="images-container">
                <img src="{{ block.settings.img_content_one |  img_url: 'master'}}">
                <img src="{{ block.settings.img_content_two |  img_url: 'master'}}">
                <img src="{{ block.settings.img_content_three |  img_url: 'master'}}">
              </div>
            </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}


{% style %}

  .section-bottom-margin {
    margin-bottom: {{ section.settings.section_margin }}px;
  }

  @media screen and (max-width: 768px) {
    .section-bottom-margin {
      margin-bottom: {{ section.settings.section_margin_tablet }}px
    }
  }

  @media screen and (max-width: 480px) {
    .section-bottom-margin {
      margin-bottom: {{ section.settings.section_margin_mobile }}px
    }
  }
{% endstyle %}

{% schema %}
  {
    "name": "winetour-template",
    "max_blocks": 4,
    "blocks": [
      {
        "type": "column-text-image",
        "name": "from-image-to-text",
        "settings": [
          {
            "type": "text",
            "id": "Heading_section",
            "label": "Heading section",
            "default": "Tour e degustazioni"
          },
          {
            "type": "textarea",
            "id": "Paragraph_section_first",
            "label": "Paragraph",
            "default": "Podere Guardia Grande è una cantina pensate per far letteralmente immergere gli ospiti nel suolo, laddove avviene la vera magia. Un percrso alla scoperta del processo di vinificazione, della filosofia produttiva e di come il terroir circostante sia presenza fondamentale di calice in calice."
          },
          {
            "type": "textarea",
            "id": "Paragraph_section_second",
            "label": "Paragraph",
            "default": "La nostra cantina è aperta dal giovedì al lunedì dalle 10:00 alle 13:00 e dalle 16:00 alle 20:00"
          },
          {
            "type": "image_picker",
            "id": "img_content_one",
            "label": "Image"
          }, {
            "type": "image_picker",
            "id": "img_content_two",
            "label": "Image"
          }, {
            "type": "image_picker",
            "id": "img_content_three",
            "label": "Image"
          }, {
            "type": "text",
            "id": "Button_text",
            "label": "Button text",
            "default": "Prenota ora la tua degustazione"
          }, {
            "type": "checkbox",
            "id": "Visibility_button",
            "label": "Hide/Show Button",
            "default": true
          }
        ]

      }
    ],
    "settings": [
      {

        "type": "range",
        "id": "section_margin",
        "label": "margin bottom section",
        "default": 0,
        "unit": "px",
        "min": 0,
        "max": 100,
        "step": 1

      }, {

        "type": "range",
        "id": "section_margin_tablet",
        "label": "margin bottom section tablet",
        "default": 0,
        "unit": "px",
        "min": 0,
        "max": 100,
        "step": 1

      }, {

        "type": "range",
        "id": "section_margin_mobile",
        "label": "margin bottom section mobile",
        "default": 0,
        "unit": "px",
        "min": 0,
        "max": 100,
        "step": 1

      }
    ]
  }
{% endschema %}