{% for block in section.blocks %}
  {% if block.type == 'column-text-image' %}
    <div class="wrapper-section section-bottom-margin">
      <div class="wrapper-contents">
        <div class="content">
          <div class="addinional-container">
            <img
              src="{{ block.settings.img_content_addinional| img_url: 'master' }}"
              alt=""
              class="addinional-image">
          </div>
          <div class="content-text">
            <h2 class="heading-h2">{{ block.settings.Heading_section }}</h2>
            <p class="paragraph">{{ block.settings.Paragraph_section_first }}</p>
            <p class="paragraph">{{ block.settings.Paragraph_section_second }}</p>
            {% if block.settings.Visibility_button == true %}
              <div class="content-primary-button">
                <a class="button-link-text" href="pages/vini">
                  <div class="content-button-text">
                    {{ block.settings.Button_text }}
                  </div>
                  <div class="content-button-icon">
                    <img
                      src="https://cdn.shopify.com/s/files/1/0874/6015/1590/files/arrow-right.png?v=1720508256"
                      alt=""
                      class="arrow-icon rotate">
                    <img
                      src="https://cdn.shopify.com/s/files/1/0874/6015/1590/files/arrow-right.png?v=1720508256"
                      alt=""
                      class="arrow-icon rotate">
                  </div>
                </a>
              </div> 
            {% endif %}
          </div>
          <div class="container-img row">
            <div class="images-container">
              <img src="{{ block.settings.img_content_one | img_url: 'master' }}" class="image">
              <img src="{{ block.settings.img_content_two | img_url: 'master' }}" class="image">
              <img src="{{ block.settings.img_content_three | img_url: 'master' }}" class="image">
            </div>
          </div>
        </div>
      </div>
    </div>
  {% elsif block.type == 'column-image-text' %}
    <div class="wrapper-section section-bottom-margin">
      <div class="wrapper-contents">
        <div class="content winetour">
          <div class="container-img winetour">
            <img
              class="tour-image "
              src="{{ block.settings.img_content_one | img_url: 'master' }}"
              alt="">
            <img
              class="tour-image"
              src="{{ block.settings.img_content_two | img_url: 'master' }}"
              alt="">
            <img
              class="tour-image"
              src="{{ block.settings.img_content_three | img_url: 'master' }}"
              alt="">
          </div>
          <div class="content-text flex-start">
            <div class="content-text-block w-flex-start">
              <div class="content-details-top">
                <div class="details-content">
                  <svg
                    class="details-icon"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6">
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="m20.893 13.393-1.135-1.135a2.252 2.252 0 0 1-.421-.585l-1.08-2.16a.414.414 0 0 0-.663-.107.827.827 0 0 1-.812.21l-1.273-.363a.89.89 0 0 0-.738 1.595l.587.39c.59.395.674 1.23.172 1.732l-.2.2c-.212.212-.33.498-.33.796v.41c0 .409-.11.809-.32 1.158l-1.315 2.191a2.11 2.11 0 0 1-1.81 1.025 1.055 1.055 0 0 1-1.055-1.055v-1.172c0-.92-.56-1.747-1.414-2.089l-.655-.261a2.25 2.25 0 0 1-1.383-2.46l.007-.042a2.25 2.25 0 0 1 .29-.787l.09-.15a2.25 2.25 0 0 1 2.37-1.048l1.178.236a1.125 1.125 0 0 0 1.302-.795l.208-.73a1.125 1.125 0 0 0-.578-1.315l-.665-.332-.091.091a2.25 2.25 0 0 1-1.591.659h-.18c-.249 0-.487.1-.662.274a.931.931 0 0 1-1.458-1.137l1.411-2.353a2.25 2.25 0 0 0 .286-.76m11.928 9.869A9 9 0 0 0 8.965 3.525m11.928 9.868A9 9 0 1 1 8.965 3.525" />
                  </svg>
                  <p class="paragraph small">Italiano | Inglese | Francese | Tedesco</p>
                </div>
                <div class="details-content">
                  <svg
                    class="details-icon"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6">
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M14.25 7.756a4.5 4.5 0 1 0 0 8.488M7.5 10.5h5.25m-5.25 3h5.25M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                  </svg>
                  <p class="paragraph small">45 $ a persona</p>
                </div>
                <div class="details-content">
                  <svg
                    class="details-icon"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6">
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                  </svg>
                  <p class="paragraph small">1h</p>
                </div>
              </div>
              <div class="content-details-body">
                <h2 class="heading-h2-secondary">{{ block.settings.Heading_one }}</h2>
                <p class="paragraph">{{ block.settings.Paragraph_one }}</p>
                <h2 class="heading-h2-secondary">{{ block.settings.Heading_two }}</h2>
                <p class="paragraph">{{ block.settings.Paragraph_two }}</p>
                <h2 class="heading-h2-secondary">{{ block.settings.Heading_three }}</h2>
                <p class="paragraph">{{ block.settings.Paragraph_three }}</p>
              </div>
              {% if block.settings.Visibility_button == true %}
                <div class="content-primary-button">
                  <div class="content-button-text">
                    <a class="button-link-text" href="/">{{ block.settings.Button_text }}</a>
                  </div>
                  <div class="content-button-icon">
                    <div class="container-icon">
                      <img
                        src="https://cdn.shopify.com/s/files/1/0874/6015/1590/files/free-left-arrow-437-1174845.png?v=1715325754"
                        alt=""
                        class="arrow-icon rotate">
                      <img
                        src="https://cdn.shopify.com/s/files/1/0874/6015/1590/files/free-left-arrow-437-1174845.png?v=1715325754"
                        alt=""
                        class="arrow-icon rotate">
                    </div>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}


{% style %}

  .section-bottom-margin {
    margin-bottom: {{ section.settings.section_margin }}px;
  }

  @media screen and (max-width: 768px) {
    .section-bottom-margin {
      margin-bottom: {{ section.settings.section_margin_tablet }}px;
    }
  }

  @media screen and (max-width: 480px) {
    .section-bottom-margin {
      margin-bottom: {{ section.settings.section_margin_mobile }}px;
    }
  }

{% endstyle %}

{% schema %}
  {
    "name": "winetour-template",
    "max_blocks": 4,
    "blocks": [
      {
        "type": "column-text-image",
        "name": "from-text-to-image",
        "settings": [
          {
            "type": "text",
            "id": "Heading_section",
            "label": "Heading section",
            "default": "Tour e degustazioni"
          },
          {
            "type": "textarea",
            "id": "Paragraph_section_first",
            "label": "Paragraph",
            "default": "Podere Guardia Grande è una cantina pensate per far letteralmente immergere gli ospiti nel suolo, laddove avviene la vera magia. Un percrso alla scoperta del processo di vinificazione, della filosofia produttiva e di come il terroir circostante sia presenza fondamentale di calice in calice."
          },
          {
            "type": "textarea",
            "id": "Paragraph_section_second",
            "label": "Paragraph",
            "default": "La nostra cantina è aperta dal giovedì al lunedì dalle 10:00 alle 13:00 e dalle 16:00 alle 20:00"
          },
          {
            "type": "image_picker",
            "id": "img_content_one",
            "label": "Image"
          }, {
            "type": "image_picker",
            "id": "img_content_two",
            "label": "Image"
          }, {
            "type": "image_picker",
            "id": "img_content_three",
            "label": "Image"
          }, {
            "type": "image_picker",
            "id": "img_content_addinional",
            "label": "Image"
          }, {
            "type": "text",
            "id": "Button_text",
            "label": "Button text",
            "default": "Prenota ora la tua degustazione"
          }, {
            "type": "checkbox",
            "id": "Visibility_button",
            "label": "Hide/Show Button",
            "default": true
          }
        ]
      }, {
        "type": "column-image-text",
        "name": "from-image-to-text",
        "settings": [
          {
            "type": "text",
            "id": "Heading_one",
            "label": "Heading one",
            "default": "Descrizione"
          },
          {
            "type": "textarea",
            "id": "Paragraph_one",
            "label": "Paragraph",
            "default": "Offriamo una visita guidata alla cantina e al vigneto che si inseriscono ed immergono rispettosamente nell'incantevole territorio di Guardia Grande."
          },
          {
            "type": "text",
            "id": "Heading_two",
            "label": "Heading two",
            "default": "Cosa è incluso nella degustazione"
          },
          {
            "type": "textarea",
            "id": "Paragraph_two",
            "label": "Paragraph",
            "default": "Degustazione guidata con assaggio di 3 vini serviti con una selezione di prodotti tipici del territorio sardo."
          }, {
            "type": "text",
            "id": "Heading_three",
            "label": "Heading three",
            "default": "Wine shop"
          }, {
            "type": "textarea",
            "id": "Paragraph_three",
            "label": "Paragraph",
            "default": "Potrete acquistare tutti i vini degustati presso il nostro wine shop."
          }, {
            "type": "text",
            "id": "Button_text",
            "label": "Button text",
            "default": "Prenota ora la tua degustazione"
          }, {
            "type": "checkbox",
            "id": "Visibility_button",
            "label": "Hide/Show Button",
            "default": true
          }, {
            "type": "image_picker",
            "id": "img_content_one",
            "label": "Image"
          }, {
            "type": "image_picker",
            "id": "img_content_two",
            "label": "Image"
          }, {
            "type": "image_picker",
            "id": "img_content_three",
            "label": "Image"
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "range",
        "id": "section_margin",
        "label": "margin bottom section",
        "default": 0,
        "unit": "px",
        "min": 0,
        "max": 100,
        "step": 1
      }, {
        "type": "range",
        "id": "section_margin_tablet",
        "label": "margin bottom section tablet",
        "default": 0,
        "unit": "px",
        "min": 0,
        "max": 100,
        "step": 1
      }, {
        "type": "range",
        "id": "section_margin_mobile",
        "label": "margin bottom section mobile",
        "default": 0,
        "unit": "px",
        "min": 0,
        "max": 100,
        "step": 1
      }
    ]
  }

{% endschema %}